body {
  font-family: 'Andale Mono', 'Courier New', monospace;
  background: #eee8d5;
  color: #586e75;
}

#logo {
  height: 3.1em;
  float: left;
}

/*
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
*/

.section {
  border-bottom: 1px black dotted;
  margin-bottom: 20px;
  height: 550px;
}

.smaller {
  height: 400px;
}

.relimages {
  position: relative;
  height: 300px;
  //margin: 20px 0;
}

.relimages img {
  position: absolute;
  top: 0;
  left: 0;
}

.border {
  border: white 5px solid;
}

.secondrow {
  padding-top: 1em;
}
.secondrow p {
  margin-left: 5%;
}


/*** FIRST ROW ***/
#me-images {
  margin-top: 3em;
}

#row-intro h1 {
  color: #268bd2;
  font-size: 3em;
  padding: 1em 0;
}

#doorway {
  width: 24%;
  left: 36%;
  top: 195px;
  z-index: 2;
  border: white 5px solid;
  -moz-transform: rotate(8deg);
  -webkit-transform: rotate(8deg);
}

#water {
  width: 20%;
  left: 31%;
  top: 30px;
  z-index: 3;
  border: white 5px solid;
  -moz-transform: rotate(-8deg);
  -webkit-transform: rotate(-8deg);
}

#skiing {
  z-index: 0;
  left: 10%;
  width: 80%;
}

#cool {
  width: 36%;
  z-index: 1;
}

/*** YAMMER ROW ***/
#row-yammer {
  height: 550px;
}

/*** QUID ROW ***/
#row-quid {
  height: 510px;
}

.black {
  margin: -10px -10px;
  background-color: black;
}

#network {
  top: 130px;
  z-index: 1;
  left: -5%;
  border: #CCC 5px solid;
  width: 30%;
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
}

/*** APPLE ROW ***/
#apple {
  padding-left: 11%;
}


/*** TYPOGRAPHY ***/
h1 {
/*
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
*/
  color: #2aa198;
  font-family: 'Courier New';

}

.quote {
  padding-left: 2em;
  font-family: 'Kotta One', Arial, sans-serif;
  font-weight: bolder;
}
.quote p {
  font-size: 20px;
}

.company-name {
  color: #268bd2;
}

h4 {
  color: #839496;
  padding-bottom: 1em;
}

p {
  font-size: 15px;
  line-height: 22px;
}

.emphasize {
  font-weight: bold;
  font-size: em;
  color: /*$orange */    #cb4b16;
}
